<form (submit)="onSubmit()" id="filter-form">

          <input type="text" id="search-product" name="search" placeholder="Search for product" [(ngModel)]="title_search">

          <input type="number" id="min-price" placeholder="Min-price" [(ngModel)]="Min_Price" name="Min">

          <input type="number" id="max-price" placeholder="max-price" [(ngModel)]="Max_Price" name="Max_Price">

          <select name="categories" id="categories-filter">
            <option value="all">All Categories</option>
            <option value="electronics">Electronics</option>
            <option value="men's clothing">mens-cloth</option>
            <option value="women's clothing">women's clothing</option>
            <option value="jewelery">jewelery</option>
          </select>

          <select name="Sort" id="sorting-filter">
            <option value="a-z">A-Z</option>
            <option value="z-a">Z-A</option>
            <option value="L-H">Low to high</option>
            <option value="H-L">high-low</option>
          </select>

        <button type="submit" class="btn btn-success">Apply Filters</button>
</form>
